@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

:root {
  --mui-appbar-color-default: #fff;
  --mui-appbar-border-color-default: #e0e0e0;
  --color-text: #222;
  --font-roboto: 'Mona Sans', sans-serif;
  /* add other variables as needed */
}
